@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hedvig+Letters+Serif:opsz@12..24&family=Mulish:wght@300&display=swap');


body {
    font-family: 'Hedvig Letters Serif', sans-serif;
    margin: 0;
}

#header-real-state {
    background-color: black;
    margin: 0;
    background-size: cover;
    height: 100vh;
    background-position: center;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    background-image: url("../img/img001.jpg");
    transition: all 1s ease;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -o-transition: all 1s ease;

}

#head-top {
    display: grid;
    grid-template-columns: 1fr auto auto auto;
    align-items: center;
}


/* Navbar */
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    border-bottom: 2px solid rgba(255, 255, 255, 0.5);
    background-color: rgb(0 0 0 / 50%);
}

.navbar__nav {
    height: 100%;
    display: flex;
    justify-content: space-between;
}

/* Logo */
.navbar__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0px 0px 122px;

}

.navbar__logo-img {
    flex-shrink: 0;
}

.navbar__logo-img:first-child {
    width: 89.443px;
    height: 23.819px;
}

.navbar__logo-img:last-child {
    width: 168.765px;
    height: 23.55px;
}

/* Contenedor principal */
.navbar__container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

/* Estilos para los enlaces */
.navbar__link {
    text-decoration: none;
    font-size: 20px;
    padding: 20px;
    color: #fff;
    font-style: normal;
}

/* Estilos específicos para los tipos de enlaces */
.navbar__links--auth,
.navbar__links--lang {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 80px;
}

/* Divisores */
.navbar__links--auth .navbar__divider {
    width: 1.5px;
    height: 28px;
    background-color: rgba(255, 255, 255, 0.50);
    margin: 0 10px;
}

.navbar__links--lang .navbar__divider {
    width: 1.5px;
    height: 60px;
    background-color: rgba(255, 255, 255, 0.50);
    margin: 0 10px;
}






/* Botón de menú hamburguesa */
.navbar__menu {
    background: none;
    border: none;
    cursor: pointer;
    padding: 10px;
}

.navbar__menu-icon {
    width: 40px;
    height: auto;
}

/*Barra de busqueda*/
.search-bar {
    display: flex;
    align-items: center;
    padding: 4px;
    background: transparent;
    /* Fondo semitransparente blanco */
    border: 2px solid #fff;
    /* Borde blanco */
    border-radius: 100px;
    /* Ajusta esto según la redondez que desees */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    /* Esto añade una sombra ligera */
    max-width: 400px;
    /* o el ancho que prefieras */
    margin-left: auto;
    /* Alinea la barra de búsqueda a la derecha */
    margin-right: 20px;
    /* Añade margen a la derecha si es necesario */
    margin-top: 20px;
    height: fit-content;

}

.search-bar__input {
    border: none;
    outline: none;
    flex-grow: 1;
    padding: 4px 14px;
    font-size: 20px;
    /* Ajusta esto según el tamaño que prefieras */
    background: transparent;
    /* Fondo transparente para el input */
    color: #fff;


}

.search-bar__input::placeholder {
    color: #fff;

}

.search-bar__button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 4px 14px;
}

.search-bar__icon {
    width: 24px;
    /* Ajusta según el tamaño del icono que prefieras*/
    height: auto;
}

/*Start:Home Landing image*/
.home_section__presentation {
    width: 100%;
    height: auto;
    display: flex;



}

/* Estilo para el contenedor de la sección de presentación y la barra de búsqueda de propiedades */
.home_section__container {
    width: 100%;
    max-width: 1200px;
    /* Ajusta esto según el ancho máximo que desees */
    /* Centra el contenedor */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* Alinea los elementos a la izquierda */
    padding-top: 359px;
    /* Ajusta la cantidad de espacio en la parte superior */
    margin: 0 auto 0 100px;
}

.home_section__container-titulo p {
    color: #B4B7B7;
    font-size: 35px;
    margin: 0;
    /* Elimina los márgenes por defecto */
    font-style: normal;
    font-weight: 400;
}

.home_section__container-titulo h1 {
    color: #FFF;
    font-size: 60px;
    margin: 0;
    /* Elimina los márgenes por defecto */
    line-height: 1;
    /* Ajusta el interlineado */
    font-style: normal;
    font-weight: 500;
}

/* Estilo para la barra de búsqueda de propiedades */
.search-bar_properties {
    display: flex;
    align-items: center;
    padding: 8px;
    background: transparent;
    /* Fondo blanco para la barra */
    border: 1px solid #FFF;
    border-radius: 100px;
    /* Ajusta para bordes redondeados */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: fit-content;
    /* Ajusta el ancho al contenido */
    margin-top: 20px;
    /* Espacio encima de la barra de búsqueda */
    flex-direction: row-reverse;



}

.search-bar_properties__input {
    flex-grow: 1;
    padding: 8px 16px;
    font-size: 16px;
    /* Ajusta el tamaño del texto */
    border: none;
    outline: none;
    background: transparent;
    text-align: center;
}
.search-bar_properties__input::placeholder {
    color: #fff;

}

.search-bar_properties__button {
    padding: 8px;
    background: none;
    border: none;
    cursor: pointer;
}

.search-bar_properties__icon {
    width: 24px;
    /* Tamaño del ícono */
    height: auto;
}

/* Social*/
.home_section_vertical_social {
    position: fixed;
    z-index: 999;
    left: 20px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding-top: 80px;

}

.home_section_vertical_social p {
    width: auto;
    height: auto;
    transform: rotate(90deg);
    font-size: 20px;
    color: #7E7E7E;
    font-style: normal;
    font-weight: 500;

}

.home_section_vertical_social .linea-vertical {
    height: 75px;
    border-left: 2px solid #7E7E7E;
    margin-top: 10px;

}

.home_section_vertical_social .social {
    height: 18px;
    width: 18px;
    color: #7E7E7E;

}

.selector_banner {
    display: flex;
    justify-content: center;
    align-items: center;
}

.selector_banner img {
    padding-left: 10px;
}

.navbar__menu-icon {
    display: none;
}

@media only screen and (min-width: 0px) and (max-width: 480px) {

    .navbar__menu-icon{
        display: block;
    }

    .navbar__nav {
        display: flex;
        width: 100%;
    }

    .navbar__container, .navbar__links {
        flex-grow: 1;
        justify-content: space-between;
        padding-right: 10px;
        padding-left: 10px;
    }


    .navbar__links--auth, .navbar__links--lang {
        padding: 0;
    }

    .navbar__logo {
        display: none;
    }
    .navbar__links--auth {
        display: none;
    }

    .navbar_link_full {
        display: none;
    }

    .home_section__container {
        margin: 0;
        padding: 10px;
        max-width: 100%

    }

    .home_section__presentation {
        padding-top: 200px;
    }


}

